<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>local.mail-server-dev</string>
        
        <key>WorkingDirectory</key>
        <string>__WORKING_DIRECTORY__</string>

        <key>ProgramArguments</key>
        <array>
            <string>/bin/bash</string>
            <string>-c</string>
            <string>npm start</string>
        </array>

        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>__PATH__</string>
        </dict>

        <key>RunAtLoad</key>
        <true/>

        <key>StandardOutPath</key>
        <string>/tmp/local.mail-server-dev.stdout</string>
        <key>StandardErrorPath</key>
        <string>/tmp/local.mail-server-dev.stderr</string>

    </dict>
</plist>
